@import url(https://fonts.https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap.com/css2?family=Bebas+Neue&display=swap);

body {
    background-color: #AFEEEE;
    color: #A52A2A;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center center;
}

h1, 
h2,
h3,
h4,
h5,
h6,
.heading {
    color: #FF0000ed;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
}

p {
    text-align: justify;
    line-height: 24px;
    text-indent: 10px;
    text-transform: uppercase;
}

h1 {
    text-shadow: 
    whitesmoke 2px 2px 2px,
    red 4px 4px 4px,
    yellow 8px 8px 8px,
    #00FF7F 12px 12px 12px,
    blue 16px 16px 16px,
    purple 20px 20px 20px;
    font-variant: small-caps;
}

strong {
    background-color: #FF0000ed;
    color: #AFEEEE;
    text-decoration: underline;
}

.text_normal {
    color: #DC143C;
}

h1 {
    font-size: 4.209rem;
}
h2 {
    font-size: 3.157rem;
    text-shadow: 
    -2px -2px #DC143C ,
    #CD5C5C -6px -6px,
    #F08080 -10px -10px,
    #FA8072 -14px -14px;
}
h3 {
    font-size: 2.369rem;
}
h4 {
    font-size: 1.777rem;
}
h5 {
    font-size: 1.333rem;
}
h6 {
    font-size: 1rem;
}